language: node_js
services:
  - mongodb
addons:
  sonarcloud:
    organization: "loopingz-github"
node_js:
  - "8"
before_script:
  - sleep 15
  - mongo webda-test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
script:
  - npm run test
after_success:
  - sonar-scanner
before_deploy:
  - npm run build
deploy:
  provider: npm
  email: "rcattiau@loopingz.com"
  skip_cleanup: true
  tag: next
  on:
    tags: true