language: node_js
services:
  - mongodb
addons:
  sonarcloud:
    organization: "loopingz-github"
node_js:
  - "8"
before_script:
  - sleep 15
  - mongo webda-test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
script:
  - npm run cover
  - sonar-scanner