# For most projects, this workflow file will not need changing; you simply need
# to commit it to your repository.
#
# You may wish to alter this file to override the set of languages analyzed,
# or to provide custom queries or build logic.
#
# ******** NOTE ********
# We have attempted to detect the languages in your repository. Please check
# the `language` matrix defined below to confirm you have the correct set of
# supported CodeQL languages.
# ******** NOTE ********

name: "CI Other Platforms"

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - windows-latest
        node_version:
          - 16

    name: Build with NodeJS v${{ matrix.node_version }} on ${{ matrix.os }}
    env:
      FORCE_COLOR: 1

    permissions:
      id-token: "write"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install dependencies
        run: yarn

      - name: Build project
        run: yarn run build

      - name: Run core tests
        run: |
          (echo "===== Core Test Attempt: 1 ====" && yarn run test --scope @webda/core) || \
          (echo "===== Core Test Attempt: 2 ====" && yarn run test --scope @webda/core) || \
          (echo "===== Core Test Attempt: 3 ====" && yarn run test --scope @webda/core) || \
          (echo "===== Core Test Failed ====" && exit 1)

      - name: Run shell tests
        run: |
          (echo "===== Shell Test Attempt: 1 ====" && yarn run test --scope @webda/shell) || \
          (echo "===== Shell Test Attempt: 2 ====" && yarn run test --scope @webda/shell) || \
          (echo "===== Shell Test Attempt: 3 ====" && yarn run test --scope @webda/shell) || \
          (echo "===== Shell Test Failed ====" && exit 1)

      - name: Run GCP tests
        run: |
          (echo "===== Core Test Attempt: 1 ====" && yarn run test --scope @webda/gcp) || \
          (echo "===== Core Test Attempt: 2 ====" && yarn run test --scope @webda/gcp) || \
          (echo "===== Core Test Attempt: 3 ====" && yarn run test --scope @webda/gcp) || \
          (echo "===== Core Test Failed ====" && exit 1)

      - name: Run other modules tests
        run: yarn run test --ignore @webda/shell  --ignore @webda/aws  --ignore @webda/gcp --ignore @webda/core --ignore @webda/postgres --ignore @webda/amqp

